<% include ../partials/header %>

<div class="container com-con">
  <h2>Add New Comment</h2>
  <hr class="com-hr" />
  <div>
    <form action="/blogs/<%= blog._id %>/comments" method="POST">
      <div class="form-group">
        <label>Comment</label>
        <input
          class="form-control"
          type="text"
          name="comment"
          placeholder="text"
          required
        />
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Add!</button>
      </div>
    </form>
  </div>
</div>

<% include ../partials/footer %>
