<% include partials/header %>

<div class="container login-con">
  <div class="row login-div">
    <div class="col-lg-6">
      <img
        class="img-responsive first"
        src="https://www.theminimalists.com/wp-content/uploads/2019/01/starting-a-blog-in-2019-1024x683.jpg"
      />
    </div>
    <div class="col-lg-6 second">
      <h2 id="login-tag">Login</h2>
      <form action="/login" method="POST">
        <div class="form-group">
          <input
            class="form-control fontAwesome"
            type="text"
            name="email"
            placeholder="&#xf007;   Email"
            required
          />
        </div>
        <div class="form-group">
          <input
            class="form-control fontAwesome"
            type="password"
            name="password"
            placeholder="&#xf084;   Password"
            required
          />
        </div>
        <div class="form-group">
          <button class="btn btn-block">Login</button>
        </div>
        <p><a href="/forgot">Forgot Password?</a></p>
      </form>
    </div>
  </div>
</div>

<% include partials/footer %>
