/* #9d9d9d; */
.nav>li>a, .navbar-header>a {
    color: #ffffff;
    /* opacity: 1.0; */
}

.nav>li>a {
    border-bottom: solid 3px transparent;
}

.navbar-expand-lg {
    padding: 0;
    /* opacity: 0.5; */
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    z-index: 2;
    transition: 750ms ease;
}

.nav>li>a:hover {
    border-bottom: solid #ffffff 3px ;
}

.nav>li>a {
    position: relative;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-expand-lg.opaque {
    background: rgba(0, 0, 0, 1);
    z-index: 99;
}